<footer class="footer">
  <div class="container">
    <p>Copyright © 2013.</p>
    <p>Create By MaoMao.</p>
  </div>
</footer>

<% if (mode == "production") { %>
<!-- 产品模式 -->
<script src="<%= staticUrl %>/javascripts/seajs/sea.js" type="text/javascript" data-config="mmblog/config" data-main="mmblog/main"></script>
<% } %>

<% if (mode == "development") { %>
<!-- 开发模式 -->
<script src="<%= staticUrl %>/javascripts/seajs/sea.js" type="text/javascript" data-config="mmblog/config-debug" data-main="mmblog/main"></script>
<% } %>
