<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 8]><script type="text/javascript">window.location.href="<%= domain %>/nonsupport"</script><![endif]-->
    <% include head.html %>
  </head>
  <body>
    <% include navbar.html %>
    <div class="container">
      <!-- 内容 -->
      <div id="content" class="row">
        <!-- 正文 -->
        <div id="main" class="span9">
            <i class="icon-spinner icon-spin icon-4x icon-loading"></i>
        </div>
        <!-- 侧栏 -->
        <aside id="sidebar" class="span3">
          <% include author.html %>
          <% include contact.html %>
          <% include rss.html %>
          <section id="recent" class="side recent">
          </section>
        </aside>
      </div>
    </div>
    <% include footer.html %>
  </body>
</html>
